<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>23</string>
					<key>EndingLineNumber</key>
					<string>214</string>
					<key>StartingColumnNumber</key>
					<string>6</string>
					<key>StartingLineNumber</key>
					<string>214</string>
					<key>Timestamp</key>
					<string>741099424.621413</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Custom PageControll/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>  //Логика анимац</string>
				<key>leading</key>
				<string>        }
        
      </string>
				<key>trailing</key>
				<string>ии прогресса
        let progressIndex = CGFloat(1) / CGFloat(sliderData.count) * CGFloat(indexPath.item + 1) //index for indicator progress
        setBasicAnimation(from: startProgressIndex, to: progressIndex)
</string>
			</dict>
			<key>title</key>
			<string>animation progress</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>48</string>
					<key>EndingLineNumber</key>
					<string>199</string>
					<key>StartingColumnNumber</key>
					<string>11</string>
					<key>StartingLineNumber</key>
					<string>199</string>
					<key>Timestamp</key>
					<string>741099480.6892461</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Custom PageControll/ViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string> view.constraints.forEach { constr in</string>
				<key>leading</key>
				<string>            let tag = view.tag //нужен для сравнения тегов
            //Хак: при каждом новом отображении ячейки будут обнуляться старые констрейнты и выставляться новые в зависимости от условия if ниже
           </string>
				<key>trailing</key>
				<string>
                view.removeConstraint(constr)
            }
</string>
			</dict>
			<key>title</key>
			<string>фича трансформации индикатора</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
